/* Imports */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: #f0f0f0;
  color: #444;
  font-size: 16px; }

canvas {
  width: 100%;
  height: 100vh; }

img {
  max-width: 100%; }

#message {
  font-size: 22px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%); }

#legend {
  width: 125px;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  left: 20px; }
  #legend .legend-title {
    font-size: 18px; }
  #legend .backdrop {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    margin-top: 5px; }
  #legend table {
    width: 100%; }
    #legend table thead tr {
      height: 20px;
      font-weight: bold;
      vertical-align: top; }
    #legend table tr td:first-of-type {
      width: 75%; }

#author {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  font-size: 12px; }
  #author .column.description {
    text-align: right;
    padding-right: 10px; }
  #author .column #portrait {
    display: flex;
    border: 1px solid black;
    width: 100px; }

.no-padding {
  padding: 0 !important; }

.center-text {
  text-align: center; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzIjpbIm1haW4uc2NzcyIsIl92YXJzLnNjc3MiLCJfbWl4aW5zLnNjc3MiLCJfZWxlbWVudHMuc2NzcyIsIl9nbG9iYWwuc2NzcyIsImNvbXBvbmVudHMvX3NjZW5lLnNjc3MiLCJfaGVscGVycy5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIi8qIEltcG9ydHMgKi9cclxuLy8gVGhpcyBwcm9qZWN0IHVzZXMgaW52ZXJ0ZWQgdHJpYW5nbGUgQ1NTIGFyY2hpdGVjdHVyZSAoaHR0cHM6Ly93d3cueGZpdmUuY28vYmxvZy9pdGNzcy1zY2FsYWJsZS1tYWludGFpbmFibGUtY3NzLWFyY2hpdGVjdHVyZS8pXHJcblxyXG4vLyBnbG9iYWxcclxuQGltcG9ydCAndmFycyc7XHJcbkBpbXBvcnQgJ21peGlucyc7XHJcbkBpbXBvcnQgJ2VsZW1lbnRzJztcclxuQGltcG9ydCAnZ2xvYmFsJztcclxuXHJcbkBpbXBvcnQgJ2NvbXBvbmVudHMvc2NlbmUnO1xyXG5cclxuQGltcG9ydCAnaGVscGVycyc7IiwiIiwiLy8gR2xvYmFsIHJlLXVzZWFibGUgbWl4aW4gYmxvY2tzXHJcblxyXG4kbW9iaWxlLXdpZHRoOiA3NjdweDtcclxuJHRhYmxldC13aWR0aDogNzY4cHg7XHJcbiRkZXNrdG9wLXdpZHRoOiA5OTJweDtcclxuJGRlc2t0b3AtbGFyZ2Utd2lkdGg6IDEyMDBweDtcclxuXHJcbkBtaXhpbiBtb2JpbGUtb25seSB7XHJcblx0QG1lZGlhIChtYXgtd2lkdGg6ICN7JG1vYmlsZS13aWR0aH0pIHtcclxuXHRcdEBjb250ZW50O1xyXG5cdH1cclxufVxyXG5cclxuQG1peGluIHRhYmxldCB7XHJcblx0QG1lZGlhIChtaW4td2lkdGg6ICN7JHRhYmxldC13aWR0aH0pIHtcclxuXHRcdEBjb250ZW50O1xyXG5cdH1cclxufVxyXG5cclxuQG1peGluIHRhYmxldC1vbmx5IHtcclxuXHRAbWVkaWEgKG1pbi13aWR0aDogI3skdGFibGV0LXdpZHRofSkgYW5kIChtYXgtd2lkdGg6ICN7JGRlc2t0b3Atd2lkdGggLSAxcHh9KSB7XHJcblx0XHRAY29udGVudDtcclxuXHR9XHJcbn1cclxuXHJcbkBtaXhpbiBkZXNrdG9wIHtcclxuXHRAbWVkaWEgKG1pbi13aWR0aDogI3skZGVza3RvcC13aWR0aH0pIHtcclxuXHRcdEBjb250ZW50O1xyXG5cdH1cclxufVxyXG5cclxuQG1peGluIGRlc2t0b3AtbGFyZ2Uge1xyXG5cdEBtZWRpYSAobWluLXdpZHRoOiAjeyRkZXNrdG9wLWxhcmdlLXdpZHRofSkge1xyXG5cdFx0QGNvbnRlbnQ7XHJcblx0fVxyXG59IiwiLy8gRWxlbWVudHMg4oCTIHN0eWxpbmcgZm9yIGJhcmUgSFRNTCBlbGVtZW50c1xyXG5cclxuYm9keSB7XHJcblx0Zm9udC1mYW1pbHk6ICdSb2JvdG8nLCBzYW5zLXNlcmlmO1xyXG5cdG1hcmdpbjogMDtcclxuXHRvdmVyZmxvdzogaGlkZGVuO1xyXG5cdGJhY2tncm91bmQtY29sb3I6ICNmMGYwZjA7XHJcblx0Y29sb3I6ICM0NDQ7XHJcblx0Zm9udC1zaXplOiAxNnB4O1xyXG59XHJcblxyXG5jYW52YXMge1xyXG5cdHdpZHRoOiAxMDAlO1xyXG5cdGhlaWdodDogMTAwdmg7XHJcbn1cclxuXHJcbmltZyB7XHJcblx0bWF4LXdpZHRoOiAxMDAlO1xyXG59IiwiLy8gR2xvYmFsIGNsYXNzLWJhc2VkIHNlbGVjdG9ycywgcHV0IGFsbCBiYXJlIGVsZW1lbnQgc3R5bGluZyBpbiBlbGVtZW50cy5zY3NzXHJcbiIsIiNtZXNzYWdlIHtcclxuXHRmb250LXNpemU6IDIycHg7XHJcblx0cG9zaXRpb246IGFic29sdXRlO1xyXG5cdGxlZnQ6IDUwJTtcclxuXHR0b3A6IDIwcHg7XHJcblx0dHJhbnNmb3JtOiB0cmFuc2xhdGVYKC01MCUpO1xyXG59XHJcblxyXG4jbGVnZW5kIHtcclxuXHR3aWR0aDogMTI1cHg7XHJcblx0Zm9udC1zaXplOiAxNHB4O1xyXG5cdHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuXHRib3R0b206IDIwcHg7XHJcblx0bGVmdDogMjBweDtcclxuXHRcclxuXHQubGVnZW5kLXRpdGxlIHtcclxuXHRcdGZvbnQtc2l6ZTogMThweDtcclxuXHR9XHJcblx0XHJcblx0LmJhY2tkcm9wIHtcclxuXHRcdGJvcmRlcjogMXB4IHNvbGlkIGJsYWNrO1xyXG5cdFx0YmFja2dyb3VuZC1jb2xvcjogcmdiYSgyNTUsIDI1NSwgMjU1LCAuNCk7XHJcblx0XHRwYWRkaW5nOiA1cHg7XHJcblx0XHRtYXJnaW4tdG9wOiA1cHg7XHJcblx0fVxyXG5cdFxyXG5cdHRhYmxlIHtcclxuXHRcdHdpZHRoOiAxMDAlO1xyXG5cdFx0XHJcblx0XHR0aGVhZCB7XHJcblx0XHRcdFxyXG5cdFx0XHR0ciB7XHJcblx0XHRcdFx0aGVpZ2h0OiAyMHB4O1xyXG5cdFx0XHRcdGZvbnQtd2VpZ2h0OiBib2xkO1xyXG5cdFx0XHRcdHZlcnRpY2FsLWFsaWduOiB0b3A7XHJcblx0XHRcdH1cclxuXHRcdH1cclxuXHRcdFxyXG5cdFx0dHIge1xyXG5cdFx0XHRcclxuXHRcdFx0dGQge1xyXG5cdFx0XHRcdFxyXG5cdFx0XHRcdCY6Zmlyc3Qtb2YtdHlwZSB7XHJcblx0XHRcdFx0XHR3aWR0aDogNzUlO1xyXG5cdFx0XHRcdH1cclxuXHRcdFx0fVxyXG5cdFx0fVxyXG5cdH1cclxufVxyXG5cclxuI2F1dGhvciB7XHJcblx0cG9zaXRpb246IGFic29sdXRlO1xyXG5cdHJpZ2h0OiAyMHB4O1xyXG5cdHRvcDogMjBweDtcclxuXHRkaXNwbGF5OiBmbGV4O1xyXG5cdGZvbnQtc2l6ZTogMTJweDtcclxuXHRcclxuXHQuY29sdW1uIHtcclxuXHRcdFxyXG5cdFx0Ji5kZXNjcmlwdGlvbiB7XHJcblx0XHRcdHRleHQtYWxpZ246IHJpZ2h0O1xyXG5cdFx0XHRwYWRkaW5nLXJpZ2h0OiAxMHB4O1xyXG5cdFx0fVxyXG5cdFx0XHJcblx0XHQjcG9ydHJhaXQge1xyXG5cdFx0XHRkaXNwbGF5OiBmbGV4O1xyXG5cdFx0XHRib3JkZXI6IDFweCBzb2xpZCBibGFjaztcclxuXHRcdFx0d2lkdGg6IDEwMHB4O1xyXG5cdFx0fVxyXG5cdH1cclxufSIsIi8vIFZlcnkgc3BlY2lmaWMgaGVscGVyIGNsYXNzZXMgdGhhdCBjYW4gb3ZlcnJpZGUgYW55dGhpbmdcclxuXHJcbi5uby1wYWRkaW5nIHtcclxuXHRwYWRkaW5nOiAwICFpbXBvcnRhbnQ7XHJcbn1cclxuXHJcbi5jZW50ZXItdGV4dCB7XHJcblx0dGV4dC1hbGlnbjogY2VudGVyO1xyXG59Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLGFBQWE7QUdFYixBQUFBLElBQUksQ0FBQztFQUNKLFdBQVcsRUFBRSxvQkFBb0I7RUFDakMsTUFBTSxFQUFFLENBQUM7RUFDVCxRQUFRLEVBQUUsTUFBTTtFQUNoQixnQkFBZ0IsRUFBRSxPQUFPO0VBQ3pCLEtBQUssRUFBRSxJQUFJO0VBQ1gsU0FBUyxFQUFFLElBQUksR0FDZjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNOLEtBQUssRUFBRSxJQUFJO0VBQ1gsTUFBTSxFQUFFLEtBQUssR0FDYjs7QUFFRCxBQUFBLEdBQUcsQ0FBQztFQUNILFNBQVMsRUFBRSxJQUFJLEdBQ2Y7O0FFbEJELEFBQUEsUUFBUSxDQUFDO0VBQ1IsU0FBUyxFQUFFLElBQUk7RUFDZixRQUFRLEVBQUUsUUFBUTtFQUNsQixJQUFJLEVBQUUsR0FBRztFQUNULEdBQUcsRUFBRSxJQUFJO0VBQ1QsU0FBUyxFQUFFLGdCQUFnQixHQUMzQjs7QUFFRCxBQUFBLE9BQU8sQ0FBQztFQUNQLEtBQUssRUFBRSxLQUFLO0VBQ1osU0FBUyxFQUFFLElBQUk7RUFDZixRQUFRLEVBQUUsUUFBUTtFQUNsQixNQUFNLEVBQUUsSUFBSTtFQUNaLElBQUksRUFBRSxJQUFJLEdBbUNWO0VBeENELEFBT0MsT0FQTSxDQU9OLGFBQWEsQ0FBQztJQUNiLFNBQVMsRUFBRSxJQUFJLEdBQ2Y7RUFURixBQVdDLE9BWE0sQ0FXTixTQUFTLENBQUM7SUFDVCxNQUFNLEVBQUUsZUFBZTtJQUN2QixnQkFBZ0IsRUFBRSx3QkFBdUI7SUFDekMsT0FBTyxFQUFFLEdBQUc7SUFDWixVQUFVLEVBQUUsR0FBRyxHQUNmO0VBaEJGLEFBa0JDLE9BbEJNLENBa0JOLEtBQUssQ0FBQztJQUNMLEtBQUssRUFBRSxJQUFJLEdBb0JYO0lBdkNGLEFBdUJHLE9BdkJJLENBa0JOLEtBQUssQ0FHSixLQUFLLENBRUosRUFBRSxDQUFDO01BQ0YsTUFBTSxFQUFFLElBQUk7TUFDWixXQUFXLEVBQUUsSUFBSTtNQUNqQixjQUFjLEVBQUUsR0FBRyxHQUNuQjtJQTNCSixBQWtDSSxPQWxDRyxDQWtCTixLQUFLLENBWUosRUFBRSxDQUVELEVBQUUsQUFFQSxjQUFjLENBQUM7TUFDZixLQUFLLEVBQUUsR0FBRyxHQUNWOztBQU1MLEFBQUEsT0FBTyxDQUFDO0VBQ1AsUUFBUSxFQUFFLFFBQVE7RUFDbEIsS0FBSyxFQUFFLElBQUk7RUFDWCxHQUFHLEVBQUUsSUFBSTtFQUNULE9BQU8sRUFBRSxJQUFJO0VBQ2IsU0FBUyxFQUFFLElBQUksR0FlZjtFQXBCRCxBQVNFLE9BVEssQ0FPTixPQUFPLEFBRUwsWUFBWSxDQUFDO0lBQ2IsVUFBVSxFQUFFLEtBQUs7SUFDakIsYUFBYSxFQUFFLElBQUksR0FDbkI7RUFaSCxBQWNFLE9BZEssQ0FPTixPQUFPLENBT04sU0FBUyxDQUFDO0lBQ1QsT0FBTyxFQUFFLElBQUk7SUFDYixNQUFNLEVBQUUsZUFBZTtJQUN2QixLQUFLLEVBQUUsS0FBSyxHQUNaOztBQ2xFSCxBQUFBLFdBQVcsQ0FBQztFQUNYLE9BQU8sRUFBRSxZQUFZLEdBQ3JCOztBQUVELEFBQUEsWUFBWSxDQUFDO0VBQ1osVUFBVSxFQUFFLE1BQU0sR0FDbEIifQ== */
