#message {
	font-size: 22px;
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
}

#legend {
	width: 150px;
	font-size: 12px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	
	.legend-title {
		font-size: 18px;
	}
	
	.backdrop {
		border: 1px solid black;
		background-color: rgba(255, 255, 255, .4);
		padding: 5px;
		margin-top: 5px;
	}
	
	table {
		width: 100%;
		
		thead {
			
			tr {
				font-weight: bold;
				
				&.divider {
					vertical-align: top;
				}
			}
		}
		
		tr {
			
			&.divider {
				height: 25px;
				vertical-align: bottom;
			}
			
			td {
				width: 50%;
				
				
				&:last-of-type {
					text-align: right;
				}
			}
		}
	}
}

#author {
	position: absolute;
	right: 20px;
	top: 20px;
	display: flex;
	font-size: 12px;
	
	.column {
		
		&.description {
			text-align: right;
			padding-right: 10px;
		}
		
		#portrait {
			display: flex;
			border: 1px solid black;
			width: 100px;
		}
	}
}